.camionesMenu-contenedor{
    width: 80%;
    height: 25%;
    margin: 2% auto;
    padding: 2%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.camionesItem-contenedor{
    width: 40%;
    height: 25%;
    margin: 2%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

img{
    width: 80%;
    height: 80%;
    margin: 2% auto;
}

.contenedor-detalles{
    width: 80%;
    height: 25%;
    margin: 2% auto;
    padding: 2%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

.detallitos{
    margin: 2% auto;
    padding: 2%;
    border: 2px solid black;
}

.orden{
    width: 90%;
    border: 2px solid black;
    padding: 2%;
}

.graficos{
    width: 80%;
    border: 2px solid black;
    margin: auto;
}

.cajades{
    width: 100%;
    border: 2px solid black;


}

.subcajades{
    width: 100%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tb{
    width: 50%;
    height: 120%;
    border: 2px solid black;
}

.bt-g{
    width: 80%;
    margin: 1%;
}

.bt-i{
    width: 33%;
}